﻿@model EAP_EXAMGUI.Models.SearchModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
@Html.ActionLink("Create", "Create")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SearchModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (ViewBag.employee != null)
{
    <table class="table">
        <tr>
            <th>
                Department Address
            </th>
            <th>
                Department Name
            </th>
            <th>
                Name
            </th>
            <th>
                Salary
            </th>
        </tr>

        @foreach (var item in ViewBag.employee)
        {
            <tr>
                <td>
                    @item.departmentAddress
                </td>
                <td>
                    @item.departmentName
                </td>
                <td>
                    @item.employeeName
                </td>
                <td>
                    @item.employeeSalary
                </td>
            </tr>
        }
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
