﻿@model BankGUI.TransferReference.PartnerGetTransferHistory

@{
    ViewBag.Title = "GetHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetHistory</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PartnerGetTransferHistory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.partnerCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.partnerCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.partnerCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.partnerPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.partnerPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.partnerPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (ViewBag.history != null)
{
    <table class="table">
        <tr>
            <th>
                clientCode
            </th>
            <th>
                transferAmount
            </th>
            <th>
                transferCode
            </th>
            <th>
                transferName
            </th>
            <th>
                transferType
            </th>
        </tr>

        @foreach (var item in ViewBag.history)
        {
            <tr>

                <th>
                    @item.clientCode
                </th>
                <th>
                    @item.transferAmount
                </th>
                <th>
                    @item.transferCode
                </th>
                <th>
                    @item.transferName
                </th>
                <th>
                    @item.transferType
                </th>
            </tr>
        }
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
